/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
.fa-layers {
  transform:rotate(50deg) skewX(24deg) skewY(12deg) translateY(-10px);
  -webkit-transform:rotate(50deg) skewX(24deg) skewY(12deg);  
  -ms-transform:rotate(50deg) skewX(24deg) skewY(12deg);  
}
