<svg #svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
  <pattern id="diagonalHatch" width="1" height="1" patternTransform="rotate(45 0 0)" patternUnits="userSpaceOnUse">
    <line x1="0" y1="0" x2="0" y2="1" style="stroke:black; stroke-width:0.1" />
  </pattern>
  <!--
  <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" style="stroke:black; stroke-width:1" />
  </pattern>
  -->
</svg>
<!--<svg #svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice"></svg>-->
