:host {
  display: block;
  display: flex;
  height: 100%;
  align-items: stretch;

  .side {
    .title-block {
      height: 80px;
      display: flex;
      align-items: flex-end;
    }
    .title {
      font-size: 2em;
      padding: 8px;
    }
    flex-basis: 100%;
    @media(min-width: 600px) {
      flex-basis: 300px;
    }
    background-color: #eee;
    .item {
      padding: 8px;
      font-size: 1.2em;
      cursor: pointer;
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}
