<app-drawer>
  <a brand routerLink="/">Brand</a>
  <div drawer>
    <div class="tree">
      <a routerLinkActive="active" [routerLink]="['profile']">User Profile</a>
      <a routerLinkActive="active" [routerLink]="['applications']">Applications</a>
      <div class="tree collapsed" #tree>
        <div><a routerLinkActive="active" [routerLink]="['objects']">Objects</a><span (click)="tree.classList.toggle('collapsed')" class="fa fa-fw fa-angle-up icon"></span></div>
        <a routerLinkActive="active" [routerLink]="['objects', 'users']">Users</a>
        <a routerLinkActive="active" [routerLink]="['objects', 'groups']">Groups</a>
        <a routerLinkActive="active" [routerLink]="['objects', 'applications']">Applications</a>
      </div>
    </div>
  </div>
  <span title>{{ title || 'Dashboard' }}</span>
  <div right-header>
    <div class="dropdown">
      <span tabindex="-1" class="fa fa-lg fa-fw fa-user icon"></span>
      <div>
        <a routerLinkActive="active" [routerLink]="['profile']">User Profile</a>
        <a (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
  <div body>
    <router-outlet></router-outlet>
  </div>
</app-drawer>
