<div class="nav-items">
  <div [routerLink]='["boilers"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/flame.svg#path"></use>
    </svg>
    <span>Hot Water</span>
    <small>Boilers</small>
  </div>
  <div [routerLink]='["chillers"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/snowflake.svg#path"></use>
    </svg>
    <span>Chilled Water</span>
    <small>Boilers</small>
  </div>
  <div [routerLink]='["pressures"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/flame.svg#path"></use>
    </svg>
    <span>Hot Water</span>
    <small>Boilers</small>
  </div>
  <div [routerLink]='["differential-pressures"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/snowflake.svg#path"></use>
    </svg>
    <span>Chilled Water</span>
    <small>Differential Pressures</small>
  </div>
  <div [routerLink]='["energy"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/energy.svg#path"></use>
    </svg>
    <span>Energy</span>
    <small>Electricity & Steam</small>
  </div>
  <div [routerLink]='["temperatures"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/snowflake.svg#path"></use>
    </svg>
    <span>Chilled Water</span>
    <small>Temperatures</small>
  </div>
  <div [routerLink]='["information"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/general.svg#path"></use>
    </svg>
    <span>General</span>
    <small>Information</small>
  </div>
  <div [routerLink]='["flow"]'>
    <svg class="background" viewBox="0 0 500 500">
      <use xlink:href="/assets/water.svg#path"></use>
    </svg>
    <span>Water</span>
    <small>Flow</small>
  </div>
</div>
<header>
  <img src="/assets/rocky.svg"/>
  <div>
    <span>Central Utilities</span>
    <span>QuickView</span>
  </div>
</header>
