@border-color: #bdbdbd;
:host {
  display: block;
  margin: 0 auto;
  max-width: 380px;

  & > div {
    padding: 12px;
    margin: 8px;
    box-sizing: border-box;
    max-width: 400px;
    max-height: 500px;
    margin-top: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .title {
      font-size: 1.75em;
      margin: 8px;
    }

    form {
      & > div {
        margin: 8px;
        display: flex;
        flex-direction: column;
        & > label, & > input, & > small {
          display: block;
        }
        & > input {
          padding: 8px;
          border: 1px solid @border-color;
          border-radius: 4px;
          &:focus {
            outline: none;
            box-shadow: 0 0 0 1px lightblue;
          }
        }
        & > button {
          font-size: 1.2em;
          padding: 4px;
        }
      }
    }
  }
}

.box-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid @border-color;
}
