<span class="title">Log In</span>
<form [formGroup]="credentials">
  <div>
    <label>Username</label>
    <input formControlName="username" type="username">
  </div>
  <div>
    <label>Password</label>
    <input formControlName="password" type="password">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
<pre>{{ credentials.value | json }}</pre>
<div>
  <label>Choose credentials</label>
  <select [formControl]="defaults">
    <option value="guest">Guest</option>
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>
</div>
<div>
  <a [routerLink]="['/register']">Register</a>
</div>
