<div class="box box-shadow">
  <span class="title">Log In</span>
  <form [formGroup]="credentials" (submit)="login()">
    <div>
      <label>Username</label>
      <input formControlName="username" type="username">
      <small></small>
    </div>
    <div>
      <label>Password</label>
      <input formControlName="password" type="password">
      <small></small>
    </div>
    <div>
      <button type="submit" [disabled]="!credentials.valid">Submit</button>
    </div>
  </form>
  <pre>{{ credentials.value | json }}</pre>
  <pre>{{ authorization.user$ | async | json }}</pre>
  <div>
    <label>Choose credentials</label>
    <select [formControl]="defaults">
      <option value="guest">Guest</option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <div>
    <a [routerLink]="['/register']">Register</a>
  </div>
</div>
