<app-drawer>
  <a brand routerLink="/">Brand</a>
  <div drawer>
    <div class="list">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./']">Applications</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['objects', 'users']">Users</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['objects', 'groups']">Groups</a>
    </div>
  </div>
  <span title>{{ title || 'Dashboard' }}</span>
  <div right-header>
    <div class="dropdown">
      <span tabindex="-1" class="fa fa-lg fa-fw fa-user icon"></span>
      <div>
        <a routerLinkActive="active" [routerLink]="['profile']">User Profile</a>
        <a (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
  <div body>
    <router-outlet></router-outlet>
  </div>
</app-drawer>
