<header>
  <span class="brand">Energy Console</span>
  <div class="side">
    <div class="dropdown">
      <span tabindex=-1 class="icon fa fa-fw fa-lg fa-cog"></span>
      <div>
        <a routerLinkActive="active" [routerLink]="['profile']">Settings</a>
      </div>
    </div>
    <div class="dropdown">
      <span tabindex=-1 class="icon fa fa-fw fa-lg fa-user-o"></span>
      <div>
        <a routerLinkActive="active" [routerLink]="['profile']">User Profile</a>
        <a>Log Out</a>
      </div>
    </div>
  </div>
</header>
<div>
  <div class="map">
    <app-map #map class="map"
      [init]="toast"
      [floorplan]="mapControls.get('floorplan').value"
      [projection]="mapControls.get('projection').value"
      [many]="mapControls.get('many').value"
      [building]="data.building$ | async"
      (buildingChange)="data.setBuilding($event)"></app-map>
    <span class="expand-collapse icon fa fa-fw fa-lg fa-external-link fa-flip-horizontal"></span>
  </div>
  <div class="tabs">
    <span class="tab">Weather</span>
    <span class="tab">Areas</span>
    <span class="tab">Layers</span>
  </div>
  <app-tree-list [include-root]="false" [active]="active$ | async" [tree]="tree$ | async" (activeChange)="setActive($event)"></app-tree-list>
  <app-graph></app-graph>
</div>
<footer>
  <span>Day Automation</span>
</footer>
