:host {
  display: flex;
  flex-direction: column;
}
.example {
  flex-shrink: 1;
  flex-grow: 1;
}
app-thermostat {
  max-height: 400px;
}
:host /deep/ app-group[name^="Child"] {
  width: 200px;
  height: 200px;
  line-height: 200px;
  box-sizing: border-box;
  text-align: center;
  margin: 8px;
  background: #eee;
}
:host /deep/ app-group[name^="Child"]:after {
  content: attr(name);
}
