<div class="header">
  <span class="name">Some really long title for a building or other selected space</span>
</div>
<div (click)="toggleSide()" class="tab">
  <span class="fa fa-fw fa-angle-right" [class.fa-rotate-180]="!activeSide"></span>
</div>
<div class="photo">
  <svg class="placeholder">
    <line x1="0" y1="100%" x2="100%" y2="0" style="stroke:rgb(255,0,0);stroke-width:2"/>
    <line x1="0" y1="0" x2="100%" y2="100%" style="stroke:rgb(255,0,0);stroke-width:2"/>
  </svg>
</div>
<div class="description">Some description of the selected location.</div>
<div [ngSwitch]="activeTreeView" class="tree">
  <app-tree-list *ngSwitchCase="'features'" [active]="data.active$ | async" [tree]="tree$ | async" (activeChange)="data.setActive($event)"></app-tree-list>
  <app-tree-list *ngSwitchCase="'layers'" [active]="layer$ | async" [tree]="tree$ | async" (activeChange)="data.setActive($event)"></app-tree-list>
</div>
<div class="content" [ngClass]="activeContent">
  <app-map [features]="features$ | async" [map]="map$ | async" [active]="data.active$ | async" (activeChange)="data.setActive($event)" (buildingChange)="data.setBuilding($event)" class="map"></app-map>
  <div class="graph">
    <svg class="placeholder">
      <line x1="0" y1="100%" x2="100%" y2="0" style="stroke:blue;stroke-width:2"/>
      <line x1="0" y1="0" x2="100%" y2="100%" style="stroke:blue;stroke-width:2"/>
    </svg>
  </div>
</div>
<div class="side"></div>
<div (click)="toggleSide(false)" class="shade"></div>
<div class="footer">
  <span [class.active]="" (click)="toggleSide()" class="fa fa-fw fa-lg fa-list-ul"></span>
  <span [class.active]="activeContent == 'map'" (click)="toggleActiveContent('map')" class="fa fa-fw fa-lg fa-map"></span>
  <span [class.active]="activeContent == 'graph'" (click)="toggleActiveContent('graph')" class="fa fa-fw fa-lg fa-pie-chart"></span>
</div>
