<header>
  <span class="brand">Data Explorer</span>
</header>
<div class="grid-container body">
  <div class="map">
    <app-map (layerChange)="layer = $event" [active]="activeNodeId$ | async" (activeChange)="data.setActiveNode($event)"></app-map>
  </div>
  <div class="graph">
    <app-graph [point]="activeNodeId$ | async"></app-graph>
  </div>
  <div class="indented-tree-list" [ngSwitch]="activeTreeView">
    <div class="tabs">
      <div (click)="activeTreeView = 'features'" [class.active]="activeTreeView == 'features'">Features</div>
      <div (click)="activeTreeView = 'layers'" [class.active]="activeTreeView == 'layers'">Layers</div>
    </div>
    <app-tree-list *ngSwitchCase="'features'" [active]="activeNodeId$ | async" [tree]="tree$ | async" (activeNodeChange)="data.setActiveNode($event)"></app-tree-list>
    <div *ngSwitchCase="'layers'">
      <div *ngFor="let each of layers$ | async" class="list">
        <div><span class="icon fa fa-fw fa-square-o" [class.fa-square]="each.key == layer"></span><span class="name">{{ each.name }}</span></div>
      </div>
    </div>
  </div>
  <div class="photo">
    <img *ngIf="activeNode$ | async as activeNode" [src]="activeNode.iconPath"/>
  </div>
  <div class="description">
    <div *ngIf="activeNode$ | async as activeNode">
      {{ activeNode.name }}
    </div>
  </div>
  <div class="boxes">Boxes</div>
</div>
