@map-width: 400px;
@photo-width: 200px;
@header-height: 60px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  & > header {
    flex-basis: @header-height;
    flex-shrink: 0;
  }
  & > .body {
    flex-grow: 1;
    height: ~"calc(100% - " @header-height ~")";
  }
  overflow: auto;
}

.body > div {
  position: relative;

  min-height: 200px;
  & > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.body > .indented-tree-list {
  min-height: 400px;
}

//
  .body > div:after {
    text-align: center;
  }

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: @photo-width auto;
  grid-template-areas:
    "photo description"
    "graph graph"
    "map map"
    "tree tree"
    "boxes boxes";
  grid-template-rows: @photo-width @map-width @map-width minmax(auto, @photo-width) @photo-width; 
}

@media(min-width: 1020px) {
  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: @map-width minmax(@map-width, 1fr) @photo-width;
    grid-template-areas:
      "map graph photo"
      "map graph description"
      "tree graph description"
      "tree graph boxes";
  
    grid-template-rows: @photo-width minmax(200px, 1fr) 20% minmax(auto, @map-width);
  }
}
.map {
  grid-area: map;
}
.graph {
  grid-area: graph;
}
.indented-tree-list {
  grid-area: tree;
}
.photo {
  grid-area: photo;
}
.description {
  grid-area: description;
}
.boxes {
  grid-area: boxes;
}
