//@media (min-width: 1200px) {}
//@media (min-width: 980px) and (max-width: 1199px) {}

@border-color: #bdbdbd;
.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@header-height: 60px;
@photo-height: 240px;
@tab-width: 24px;
@side-width: 400px;
@description-height: 80px;
@footer-height: 60px;

:host {
  @media (min-width: 980px) {
    display: grid;
    grid-template-columns: @tab-width (@side-width - @tab-width) @tab-width auto;
    grid-template-rows: @header-height (@photo-height - @header-height) @description-height auto;
    transition: grid-column-end 0.2s ease, grid-column-start 0.2s ease;
    //transform: translateX(0);
    & > .content {
      grid-column-start: 3;
      /* autoprefixer: off */
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5;
      z-index: 1;
    }
    & > .header {
      grid-column-start: 1;
      /* autoprefixer: off */
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      z-index: 2;
    }
    & > .tab {
      grid-column-start: 3;
      /* autoprefixer: off */
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      z-index: 2;
    }
    & > .side {
      grid-column-start: 1;
      /* autoprefixer: off */
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
      z-index: 2;
    }
    & > .photo {
      grid-column-start: 1;
      /* autoprefixer: off */
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    & > .description {
      grid-column-start: 1;
      /* autoprefixer: off */
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    & > .tree {
      grid-column-start: 1;
      /* autoprefixer: off */
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    & > .tree, & > .description, & > .photo {
      z-index: 3;
    }
    & > .side {
      border-right: 1px solid @border-color;
    }
    & > .tab {
      line-height: @header-height;
      background: white;
      border-right: 1px solid @border-color;
      border-bottom: 1px solid @border-color;
    }
    & > .content {
      background: white;
      display: grid;
      grid-template-rows: 4fr 1fr;
    }
    & > .footer {
      display: none;
    }
    & > .shade {
      display: none;
    }
    &.side-active > .tab {
      grid-column-start: 1;
      /* autoprefixer: off */
      grid-column-end: 2;
      z-index: 4;
    }
    &.side-active > .content {
      grid-column-start: 1;
      z-index: 3;
      //grid-template-columns: @side-width @tab-width ~"calc(100% - " @tab-width ~")";
      //transform: translateX(-@side-width);
    }
  }
}
