:host {
  display: block;
}
.active {
  font-weight: bold;
}

.tabs {
}

.tabs > .tab {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}

.tabs > .tab.active {
  background-color: #eee;
}

.tabs > .tab:hover {
  background-color: #e6e6e6;
}
