<div class="box box-shadow">
  <div>
    <img src="/assets/placeholder.png"/>
    <div>
      <div class="name">Application</div>
      <div class="description">Description</div>
    </div>
  </div>
  <div>
    <img src="/assets/placeholder.png"/>
    <div>
      <div class="name">Application</div>
      <div class="description">Description</div>
    </div>
  </div>
  <div>
    <img src="/assets/placeholder.png"/>
    <div>
      <div class="name">Application</div>
      <div class="description">Description</div>
    </div>
  </div>
</div>
