<div class="box box-shadow">
  <div *ngFor="let application of applications">
    <img src="/assets/placeholder.png"/>
    <div>
      <a routerLink="/{{ application.path }}" class="name">{{ application.name }}</a>
    </div>
  </div>
  <div>
    <img src="/assets/placeholder.png"/>
    <div>
      <div class="name">Application</div>
      <div class="description">Description</div>
    </div>
  </div>
  <div>
    <img src="/assets/placeholder.png"/>
    <div>
      <div class="name">Application</div>
      <div class="description">Description</div>
    </div>
  </div>
</div>
